.form {
  margin: auto;
  width: 700px;
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &-button {
    justify-content: center;
  }
  &-textarea {
    justify-content: center;
  }
}
.label {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.input {
  margin: 7px;
  width: 300px;
  height: 36px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid darkgray;
  border-radius: 6px;
}
.select {
  margin: 7px;
  width: 300px;
  height: 36px;
  padding: 0 5px;
  font-size: 18px;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 6px;
}
.textarea {
  resize: none;
  margin: 7px;
  width: 500px;
  height: 200px;
  padding: 10px;
  font-size: 18px;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 6px;
}
.button {
  margin: 7px;
  padding: 0 20px;
  height: 36px;
  font-size: 18px;
  color: white;
  background-color: #2c3e50;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
